.seccion {
    margin: 1rem;
    padding: 1rem;
    background-color: aqua;
}

.parrafo {
    padding: 1rem;
    background-color: white;
}

.parrafo.dragging {
    opacity: 0.3;
}

/*
.imagen-fantasma {
    left: -100vw;
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: black;
}
*/