* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100px;
}

.btn {
    width: 100px;
    height: 80px;
}

.btn:hover {
    background-color: green;
    color: white;
}

.btn::before{
    content: "Pasa por encima";
}

.btn::after{
    display: none;
    content: "¡Hecho!"; 
}

.btn:hover::before {
    display: none;
    background-color: green;
    color: white;
}

.btn:hover::after{
    display: block;
}
